---
layout: default
---

<div style="height: 60px"></div>

<article class="container-lg mt-4 mb-5" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="mb-4">
    <h2 class="mb-4 post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <hr class="mt-3 mb-3"/>
    <p>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        {{ page.date | date: date_format }}
      </time>
      &middot; Creado por
      <i>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">
          {% if post.author %}
          {{ post.author }}
          {% else %}
          {{ site.author }}
          {% endif %}
          </span>
        </span>
      </i>
      &middot; {% include read_time.html content=page.content %}
    </p>
    <hr class="mt-3 mb-3"/>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <hr class="mt-3 mb-3"/>
  <div class="clearfix">
    {% if page.previous.url %}
    <a class="btn btn-primary float-left" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
        Post</span></a>
    {% endif %}
    {% if page.next.url %}
    <a class="btn btn-primary float-right" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
        Post</span> &rarr;</a>
    {% endif %}
  </div>
</article>
